{% extends 'base.html' %}
{% block content %}
    {% include "contenthead.html"  with title="资产管理"  %}
    <div>
       <button id="checkall_id"  type="button" class="btn btn-primary btn-sm">选择所有</button>
    <button id="cancelall_id" type="button" class="btn btn-primary btn-sm">取消所有</button>
    <button id="reverseall_id" type="button" class="btn btn-primary btn-sm">反选</button>
    <button id="editmode_id" edit=false" type="button" class="btn btn-primary btn-sm">进入编辑模式</button>
    <button id="editmode_id" type="button" class="btn btn-primary btn-sm">批量删除</button>
    <button id="savedata_id" type="button" class="btn btn-primary btn-sm">保存</button>
    </div>

    <div>
        <label for="search" class="col-form-label-sm">查询条件</label>
                    <select id="condition_id" class="form-control-sm">
                    </select>
                    <button  type="button" class="btn btn-sm btn-success" id="addcondition_id">添加条件</button>

                <label for="search" class="col-form-label-sm">每页数量</label>

                <select id="page_number" class="form-control-sm">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                </select>
    <button type="button" class="btn btn-sm btn-primary" id="search_id">开始搜索</button>
    </div>
    <div id="searchcondition_id"></div>
    <div class="table-responsive-sm">
        <table id="tb" class="table table-sm table-bordered">
            <thead id="tb_head" class="thead-light">
            </thead>
            <tbody id="tb_body">
            </tbody>
        </table>
    </div>
    <div id="pager_id"></div>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            $.CRUD('/web/assetjson', '{{ csrf_token }}')
        })
    </script>
{% endblock %}